{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class="uk-light wrap">
    <div class="uk-flex uk-flex-center uk-flex-middle">
        <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300" style="margin-top: 100px">
            <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">Now Showcasing</h1>
            <h4 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Latest Release: Rick Astley's Never Gonna Give You Up</a></h4>
            <iframe src="https://i.makeagif.com/media/4-02-2015/IaU8DL.gif"  width="320s" height="300" frameBorder="0"></iframe>
            </div>
        </div>
           
                {% for movie in mov %}
                <div data-uk-scrollspy-class="uk-animation-slide-left-medium"> 
                    <div class="uk-card uk-card-body">
                        <a href="/movies/{{movie.pk}}" align="center">
                            <h3 class="uk-card-title" >{{ movie.movie_name }}</h3>
                            <div class="uk-card" style="width: 18rem; margin:0px auto;">
                                <img src="{{ movie.movie_poster.url }}" class="card-img-top" height="380px">
                        </a>
                    
                            <div class="card-body">
                            
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}