{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="margin-top: 40px">
  <div class="row">
    <div class="uk-container uk-container-small uk-flex-auto uk-text-center">
      <form action="{% url 'booked' %}" method="POST" id="book">
        {% csrf_token %}
        <input type="hidden" value="{{show.shows}}" name="show" readonly>
        <h2 style="color:white">Booked Seats:</h2>
        <p style="color:white">
        {% for seat in seat %}
            {{seat.useat}}
        {% endfor %}
        </p>
        <h2 class="text-white">Select Seats:</h2>
        <input type="text" name="SeatNo.">
        <h2 class="text-white">Total Seats:</h2>
        <input type="text" name="TotalSeats">
        {% if user.is_authenticated %}
        <button type="submit" form="book" class="btn btn-lg btn-block btn-primary"> Confirm Booking </button>
      {% else %}
      <a href="/accounts/login" class="btn btn-lg btn-block btn-danger"> Login To Book </a>
      {% endif %}
      </form>
    </div>
  </div>
  <img src= {% static "images/seats2.png" %} width="1500" height="600">
</div>


  <!-- <div class="row bottom">
    <div class="col-9">
      <h1 class="text-white">Selected Seats : <span id="slots"></span></h1>
    </div>
    <div class="col-3">
      {% if user.is_authenticated %}
      <button type="submit" form="book" class="btn btn-lg btn-block btn-primary"> Confirm Booking </button>
      {% else %}
      <a href="/accounts/login" class="btn btn-lg btn-block btn-danger"> Login To Book </a>
      {% endif %}
    </div>
  </div> -->

</div>

{% endblock %}