{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class="uk-light wrap">
    <div class="uk-flex uk-flex-center uk-flex-middle">
        <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300" style="margin-top: 100px">
            <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">Now Showcasing</h1>
            <h4 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Latest Release: Rick Astley's Never Gonna Give You Up</a></h4><iframe src="https://c.tenor.com/yheo1GGu3FwAAAAd/rick-roll-rick-ashley.gif" width="556.5" height="600" frameBorder="0"></iframe>
            <!-- <div class="uk-position-large uk-position-bottom-center uk-margin-xlarge-bottom"> -->
                <!-- <div class="icon-scroll" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true; delay: 800"></div>         -->
            <!-- </div> -->
            
            </div>
        </div>
           <!-- /TEXT -->
    <!-- </div> -->

<!-- <div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container" style="background: #081421;"
    <section id="about" class="uk-section uk-section-default" style="background: #081421;">
        <div class = "uk-margin-auto" style="text-align: center;"><h1>Now Showcasing</h1></div> -->



<!-- <div class="container">
    <div class="row mb-5">
        <div class="col-12">
            <div class="row">
                <div class="col-10 offset-2 m-5">
                    <h1>Now Showcasing</h1>
                </div>
            </div>
            <div class="row"> -->
                {% for movie in mov %}
                <div data-uk-scrollspy-class="uk-animation-slide-left-medium"> 
                    <div class="uk-card uk-card-body">
                        <a href="/movies/{{movie.pk}}">
                        <h3 class="uk-card-title">{{ movie.movie_name }}</h3></a>
                    
                        <div class="uk-card" style="width: 18rem; margin:0px auto;">
                            <img src="{{ movie.movie_poster.url }}" class="card-img-top" height="380px">
                            <div class="card-body">
                            
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}