{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container" style="background: #081421;"
    <section id="about" class="uk-section uk-section-default" style="background: #081421;">
        <div class = "uk-margin-auto" style="text-align: center;"><h1>Now Showcasing</h1></div>



<!-- <div class="container">
    <div class="row mb-5">
        <div class="col-12">
            <div class="row">
                <div class="col-10 offset-2 m-5">
                    <h1>Now Showcasing</h1>
                </div>
            </div>
            <div class="row"> -->
                {% for movie in mov %}
                <div data-uk-scrollspy-class="uk-animation-slide-left-medium"> 
                    <div class="uk-card uk-card-body">
                        <a href="/movies/{{movie.pk}}">
                        <h3 class="uk-card-title">{{ movie.movie_name }}</h3></a>
                    
                        <div class="uk-card" style="width: 18rem; margin:0px auto;">
                            <img src="{{ movie.movie_poster.url }}" class="card-img-top" height="380px">
                            <div class="card-body">
                            
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}