{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8 card shadow">
      <div class="row justify-content-around pass-h title">
        <div class="col-4">
          <h2> <i class="fa fa-video-camera"></i> BoxOffice</h2>
        </div>
        <div class="col-6">
          <h2 style="text-align:center">{{ticket.shows.movie.movie_name}} ({{ticket.shows.cinema.cinema_name}})</h2>
        </div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-9">
          <div class="row">
            <div class="col-6">
              <h3>Booking ID :<span> {{ticket.pk}}</span> </h3>
              <h3>Date :<span> {{ticket.shows.date}}</span> </h3>
              <h3>Price :<span> ₹{{price}}</span> </h3>
            </div>
            <div class="col-6">
              <h3>Seats :<span> {{ticket.useat}}</span> </h3>
              <h3>Time :<span> {{ticket.shows.time}}</span> </h3>
              <h3>Hall :<span> H1</span> </h3>
            </div>
            <div class="col-12 mt-3 info">
               <i class="fa fa-location-arrow"></i> {{ticket.shows.cinema.cinema_name}} : <span> {{ticket.shows.cinema.address}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% endblock %}